h1 {
    font-family: 'Comic Sans MS', cursive;
    color: pink;
    text-shadow: 2px 2px 4px #FF69B4;
    font-size: 40px;
    text-align: center;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li{
    background-color: #f1f1f1;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

.textoCentrado {
    text-align: center;
}